#navbar {
    background-color: #efbece;
    position: fixed; 
    display: flex; 
    justify-content: flex-end; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 20; 
  }
  .nav-lins {
    margin: 0; 
    padding: 15px;
    color: #d3517b; 
    text-decoration: none; 
  }
  
  .nav-lins:hover {
    background-color: #d3517b;
    color: #e79fb7;  
  }

  