#navbar {
    background-color: palevioletred;
    position: fixed; 
    display: flex; 
    justify-content: flex-end; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 20; 
  }
  .nav-lins {
    margin: 0; 
    padding: 15px;
    color: #df809f; 
    text-decoration: none; 
  }
  
  .nav-lins:hover {
    background-color: #df809f;
    color: rgb(0, 3, 59);  
  }
  